<footer
  id="landing-footer"
  class=" py-3 px-10 items-center bottom-0 w-full justify-center absolute z-40 text-gray-300 hidden sm:hidden md:flex"
>
  <nav>
    <ul
      class="flex [&>li>a]:text-current text-xs [&>li>a]:inline-block [&>li>a]:px-3 [&>li>a]:py-2"
    >
      <li><a href="#">Tesla © 2023</a></li>
      <li><a href="#">Privacidad y legal</a></li>
      <li><a href="#">Llamadas a revision de vehiculos</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Noticias</a></li>
      <li><a href="#">Ubicaciones</a></li>
    </ul>
  </nav>
</footer>

